{% extends 'base.html' %}



{% block title %} Homepage {% endblock %}



{% block content %} 

<h1>Our Pets</h1>

{% for pet in pets %}
<div>
    <a href="/{{pet.id}}">{{pet.name}}</a>
    <img src="{{pet.photo_url}}" alt="pet photo here">
    <b>
        {% if pet.available %}
            Available
        {% else %}
            Not available
        {% endif %}
    </b>
</div>
{% endfor %}

<a href='/add'>Add a pet</a>

<h2>Random Petfinder Pet</h2>

<div>
    <p>{{random_pet.name}}</p>
    <p>{{random_pet.age}}</p>
    <img src="{{random_pet.photo_url}}" alt="random pet photo">
</div>


{% endblock %}